@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
	font-family: "Poppins", sans-serif;
}
.loading {
	width: auto;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.center {
	margin: auto;
	width: 60%;
	height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.message-list {
	position: absolute;
	top: 1%;
	width: 100%;
	height: 85%;
}
.message-input {
	position: absolute;
	bottom: 1%;
	width: 100%;
	height: 7%;
}
.message-input[button] {
	position: absolute;
	right: 0px;
}

.input-text {
	width: 90%;
	height: 100%;
	padding: 0% 5% 0% 5%;
}
.message {
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.username {
	font-size: small;
	color: darkred;
	padding: 5px;
}